
body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.main-container {
    max-width: 1200px; 
    margin: 60px auto; 
    padding: 0 20px;
}

/* --- TÍTULOS --- */
.header-title {
    text-align: center;
    margin-bottom: 50px;
}

.header-title h1 {
    font-family: 'Playfair Display', serif; 
    font-size: 3.5rem;
    margin: 0;
    color: #000;
}

.header-title h3 {
    font-size: 0.9rem;
    letter-spacing: 4px;
    color: #666;
    font-weight: 400;
    margin-top: 10px;
    text-transform: uppercase;
}


.home-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    gap: 20px; /
}

/* Configuração dos Itens da Grelha */
.grid-item {
    position: relative;
    border-radius: 16px;
    overflow: hidden; 
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.grid-item.big {
    grid-column: span 3; 
    height: 400px;       
}

.grid-item.small {
    grid-column: span 2;
    height: 250px;       
}


.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* não distorce*/
    display: block;
    transition: transform 0.5s ease;
}




/* --- BOTÕES DENTRO DOS CARDS --- */
.card-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    
    background-color: rgba(255, 255, 255, 0.9);
    padding: 12px 25px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    border-radius: 30px;
    letter-spacing: 1px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    transition: all 0.3s ease;
    white-space: nowrap; 
    text-transform: uppercase;
}

.card-btn:hover {
    background-color: #fff;
    padding: 14px 30px; 
    cursor: pointer;
}

/* --- SECÇÃO AUTORAS --- */
.authors-section {
    margin-top: 80px;
    padding-top: 40px;
    padding-bottom: 60px;
    border-top: 1px solid #eee;
    text-align: center;
}

.authors-section h2 {
    color: #999;
    font-size: 1rem;
    letter-spacing: 3px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.authors-list {
    display: flex;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
}

.author-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.author-item img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    margin-bottom: 15px;
}

.author-item p {
    font-weight: bold;
    color: #555;
    font-size: 0.9rem;
    margin: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* --- RESPONSIVO --- */
@media (max-width: 768px) {
    .home-grid {
        display: flex;      
        flex-direction: column;
    }
    
    .grid-item.big, 
    .grid-item.small {
        height: 200px;      
        width: 100%;
    }
    
    .header-title h1 {
        font-size: 2.5rem;
    }
    
    .authors-list {
        gap: 40px;
    }
}